body {
    background-color: skyblue;
    height: 100vh;
    width: 100%;
}

.traffic-light { 
    border-radius: 10px;
    background-color: rgb(49, 39, 54);
    padding: 3rem;
}

.light {
    width: 20rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.turned-off {
    background-color: rgb(38, 29, 41);
    box-shadow: inset 1rem 1rem rgb(33, 26, 36);
}

.turned-on  {
    background-color: greenyellow;
    box-shadow: 0px 0px 20px 4px greenyellow;
}